[defaults]
inventory = hosts.ini
ansible_python_interpreter=/usr/bin/python3
deprecation_warnings=False
callbacks_enabled = profile_tasks, timer, syslog_tasks
[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s

[inventory]
force_valid_group_names = ignore
