#!/usr/bin/bash

user={{ zoneedit_user }}
token={{ zoneedit_token }}
host=`hostname`.critchley.biz
[ "$1" == start ] &&
curl -v "https://$user:$token@dynamic.zoneedit.com/auth/dynamic.html?host=$host" >> /var/log/setdns.log 2>&1
